
  
  /* Columns */
  /* div.dropdown-multicol2{
    width: 50em;
  }
  div.dropdown-multicol2>div.dropdown-col{
    display:inline-block;
  }
  
   */
 .navbar{
   margin:0.5em;
 }

 .bg {
  /* The image used */
  background-image: url("http://localhost/panda/medias/slide/big/3/slide1.jpg");
/* background-color: rgb(162, 181, 181); */

/* rgb(215, 253, 253); */
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.input_height, #input_height{
  height: 75px;
}


/* css jishee */


.quantity {
  position: relative;

}

input[type=number1]::-webkit-inner-spin-button,
input[type=number1]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number1]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 160px;
  height: 75px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 75px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 50px;
  text-align: center;
  color: #333;
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}