
  
  /* Columns */
  /* div.dropdown-multicol2{
    width: 50em;
  }
  div.dropdown-multicol2>div.dropdown-col{
    display:inline-block;
  }
  
   */
 .navbar{
  margin: 0;
  padding: 0!important;
 }

 .navbar-dark .navbar-nav .nav-link {
color:black!important;
 }
 
 .bg {
  /* The image used */
  background-image: url("http://localhost/panda/medias/slide/big/3/slide1.jpg");
/* background-color: rgb(162, 181, 181); */

/* rgb(215, 253, 253); */
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar-main 
{
  position: relative; 
}

/* heade3r menu */
/* heade3r menu */
/* heade3r menu */
.navbar-transparent {
  background-color: #ffffff!important;
}




/* facility */
.facility-icon {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #777;
border-radius: 5px;
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 5px;
    width: 31px;
    height: 31px;
    text-align: center;
}
/* ./ */


/* start */
.carousel-control-prev-icon::before{
  content: '\f137'!important;
}
.carousel-control-next-icon::before{
  content: '\f138'!important;
}

.hotel-hr{
  margin: 15px 0;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

#booking_details_table{
  padding-top:70px;
}

.home_button{
  color: white;
}